{% extends 'index.html' %}
{% block title %} Registration {% endblock %}
{% load static %}



{% block content %}

    <section class="Register">
        <div class="container text-center pt-3 mb-3">
            <h1>Registration</h1>
        </div>

        <div class="form__container">
            <form action="{% url 'account:register' %}" method="POST">
                {% csrf_token %}

                <div class="mb-3 pt-3">
                    <label for="full-name" class="form-label">Full Name</label>
                    {{ form.full_name }}
                </div>

                <div class="mb-3 pt-3">
                    <label for="username" class="form-label">Username</label>
                    {{ form.username }}
                </div>

                <div class="mb-3 pt-3">
                    <label for="email" class="form-label">Email</label>
                    {{ form.email }}
                </div>

                <div class="mb-3 pt-3">
                    <label for="password" class="form-label">Password</label>
                    {{ form.password }}
                </div>

                <div class="mb-3 pt-3">
                    <label for="confirm_password" class="form-label">Confirm Password</label>
                    {{ form.confirm_password }}
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </section>

{% endblock %}