{% extends 'index.html' %}
{% block title %} Edit Ticket {% endblock %}
{% load static %}



{% block content %}

    <section class="open_ticket">
        <div class="container text-center pt-3 mb-3">
            <h1>Create a Ticket</h1>
        </div>

        <div class="form__container">
            <form action="{% url 'ticket:ticket_update' id_ticket %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3 pt-3">
                    <label for="subject" class="form-label">Edit Ticket Subject</label>
                    {{ form.title }}

                <div class="mb-3 pt-3">
                    <label for="description" class="form-label">Edit Ticket Description</label>
                    {{ form.description }}
                </div>

                <div class="form-group pt-3 mb-3">
                    <label for="{{ form.category.id_for_label }}">Category:</label>
                        {{ form.category }}
                </div>

                <div class="form-group pt-3 mb-3">
                    <label for="{{ form.priority.id_for_label }}">Priority:</label>
                        {{ form.priority }}
                </div>

                <div class="mb-3 pt-3">
                    <label for="file" class="form-label">Attachment (if any)</label>
                    {{ form.uploaded_file }}
                </div>

                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </section>

{% endblock %}